<div class="spaced">
    <table class="tab_cadre_fixehov">
        <tr>
            <th>{{ __('Data e Hora', 'authhistory') }}</th>
            <th>{{ __('IP', 'authhistory') }}</th>
            <th>{{ __('Método de Autenticação (Tipo)', 'authhistory') }}</th>
        </tr>
        {% if events|length > 0 %}
            {% for event in events %}
                <tr class="tab_bg_1">
                    <td>{{ event.date }}</td>
                    <td>{{ event.ip }}</td>
                    <td>{{ event.auth_method }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="tab_bg_1">
                <td colspan="3" class="center">{{ __('Nenhum registro de acesso encontrado.', 'authhistory') }}</td>
            </tr>
        {% endif %}
    </table>
</div>
